.conteiner {
    margin: 0 auto;
    width: 720px;
}

.titulo {
    text-align: center;
    color: #5a5d5d;
    background-color: whitesmoke;
    border-color: #fff #999 #999 #fff;
    border: 5px solid #ffd556;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.habilidadesCss {
    background-color: whitesmoke;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    margin-left: auto;
    padding: 10px;
}

.extrasCss{
    background-color: whitesmoke;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    width:45%;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
}

.ObjetivoCss {
    background-color: #ffd556;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    width:45%;
    margin-bottom: 20px;
    padding: 10px;
    float: right;
}

.experienciaCss {
    background-color: whitesmoke;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    width:45%;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
}

.formacaoCss {
    background-color: whitesmoke;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    width:45%;
    margin-bottom: 20px;
    padding: 10px;
    float: right;
}

.contatosCss {
    background-color: whitesmoke;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    width:48%;
    margin-bottom: 20px;;
    float: right
}

.experienciaPCss {
    background-color: whitesmoke;
    border-color: #ccc #999 #999 #ccc;
    border: 2px solid #ffd556;
    width:45%;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
}

body {
    font-family: "lucida grande", "Lucida Sans Unicode", verdana, sans-serif;
    line-height: 1.6;
}

h2 {
    text-align: center;
    color: 5a5d5d;
}

h3 {
    color: 5a5d5d;
}

h4 {
    color: #ED7D31;
}

.imagem {
    border: 1px solid #7e9f19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.center {
    text-align: center;
}

p {
    color: #636A6B;
}

ul {
    color: #636A6B ;
}

.port {
    text-align: center;
}